.stock-container {
  & > .stock-content {
    display: flex;
    flex-direction: row-reverse;
    & > .tabs {
      margin-right: calc(100vh - 300px);
      margin-top: 40px;
    }
  }
  & > .language {
    display: flex;
    justify-content: flex-end;
    top: -100px;
    position: relative;
  }
}
