@import '../../assets/styles/variables';

.page-header {
  & {
    width: 100%;
    background: $blue;
    box-shadow: 0 2px 2px 0 $shadow;
    height: 76px;
    font-size: 18px;
    color: $white;
  }

  & .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-right: 40px;
    margin-left: 40px;
    & .logo {
      display: flex;
      align-items: center;
      & > .title {
        font-weight: bolder;
        font-size: 28px;
      }
    }
    & .icon {
      margin-right: 10px;
    }
  }

  & .nav-link {
    display: flex;

    & > .links {
      margin-right: 5px;
    }
    & > .user {
      align-items: center;
      display: flex;
    }
  }
}
