/**
 * Variables
 */

// Colors
$lilac: #ecebf9;
$white: #ffffff;
$athens-gray: #f4f4f5;
$mercury: #e5e5e5;
$mischka: #d7d8df;
$black: #020024;
$purple: #958fec;
$waterloo: #818094;
$mulled-wine: #4d4a6d;
$border-color: #c4c4c4;
$porcelain: #f7f8f9;
$graysuit: #bebdcb;
$mirage: #1e1c36;
$haiti: #141131;
$gun-metal: #2d3436;
$pale-sky: #696e70;
$dark-cerulean: #0f4c81;

$pad: 8px;
$transition: all cubic-bezier(0.62, 0.01, 0.01, 1) 300ms;
$blue: #1467af;
$danger: #ef4583;
$warning: #f0a500;
$success: #53dbb8;
// Font Weight
$normal: 400;
$medium: 500;
$bold: 700;
$gray: #c4c4c4;

// Font Family
$font-family: Rubik, Segoe UI, Roboto, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;

// Box Shadow
$box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
