/**
 * Variables
 */

// Colors
// Colors
$white: #ffffff;
$sun: #f9b01f;
$pacific-blue: #00acc1;
$bubbles: #e5fcff;
$danger: #b54928;
$default: #acacac;
$dove-gray: #6c6c6c;
$input-bg: #e8e9ea;
$link-icon: #8e8e93;
$concrete: #f2f2f2;
$darkest: #525252;
$light-gray: #c7c7cc;
$french-pass: #bce0fd;
$conduroy: #596460;
$manatee: #8e8e93;
$mine-shaft: #3e3e3e;
$chambray: #3b5998;
$torch-red: #ff2020;
$paarl: #b54928;
$coffee-bean: #240a0a;
$punch: #dd4b39;
$valencia: #da4c3a;
$apple: #4ac733;
$deep-cerulean: #018ea0;
$gamboge: #e19b0e;
$shadow: #0f0d2308;
$swiss-coffee: #d2cccc;
$tundora: #434343;

$pad: 8px;
$transition: all cubic-bezier(0.62, 0.01, 0.01, 1) 300ms;
$blue: #1467af;
$danger: #ef4583;
$warning: #f0a500;
$success: #53dbb8;
// Font Weight
$normal: 400;
$medium: 500;
$bold: 700;
$gray: #c4c4c4;

// Font Family
$font-family: Rubik, Segoe UI, Roboto, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;

// Box Shadow
$box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.02);
